.about-main-div {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-inner-div {
    background-image: url("../../Images/players.png"), url("../../Images/about_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: flex-end;
}

.ballsss {
  width: 545;
  height: 276px;
  margin: -190px 0 0 -42vw;
}

h1 {
  color: #FF8503;
}

@media (max-width: 1000px) {
  .whole {
    margin: 4rem 14vw;
  }

  .img {
    width: 545;
    height: 276px;
    margin: -190px 0 0 0;
  }
}

@media (max-width: 600px) {
  .whole {
    margin: 4rem 2rem;
    font-size: 14px;
    text-align: justify;
    align-items: center;
  }

  .img {
    width: 80vw;
    height: auto;
    object-fit: contain;
  }
}

@media (max-width : 1350px) {
    .about-inner-div {
        background-image: url("../../Images/about_background.png");
    }
    .about-info-div {
        width: 100%;
        height: 100%;
    }
    .about-info-div p {
        width: 80%;
    }
}

@media (max-width : 600px) {
    #more {
        display: none;
    }
    #dot {
        display: block;
    }
    #read-but {
        display: block;
    }
    .about-main-div {
        height: auto;
    }
    .about-inner-div {
        width: 90%;
        height: max-content;
        margin: 32px;
    }
    .about-info-div p {
        width: 85%;
        padding: 0 1rem;
    }
}