.container{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    box-sizing: border-box;
}
.card {
  width: 230px;
  height: 300px;
  border-radius: 10px;
  /* background: #f5f5f5; */
  background-color: #07182E;
  padding: 2rem 1.5rem;
  margin: 40px 0px;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

/*Image*/
.card-avatar {
  --size: 110px;
  /* background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%); */
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform 0.2s ease;
  margin-bottom: 1rem;
  overflow: hidden;
}
.card-avatar img{
    width: 100%;
    height: 100%;
}

/*Card footer*/
.card-social {
  transform: translateY(200%);
  display: flex;
  justify-content: space-around;
  width: 100%;
  opacity: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.card-social__item {
  list-style: none;
}

.card-social__item a {
  display: block;
  height: 18px;
  width: 18px;
  fill: #acb0b2;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  transition: fill 0.2s ease, transform 0.2s ease;
}

/*Text*/
.card-title {
  color: #bfbcbc;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 2rem;
}

.card-subtitle {
  color: #859ba8;
  font-size: 0.8em;
}

/*Hover*/
.card:hover {
  box-shadow: 0 10px 30px #23232333;
}

.card:hover .card-info {
  transform: translateY(-5%);
}

.card:hover .card-social {
  transform: translateY(100%);
  opacity: 1;
}

.card-social__item a:hover {
  fill: #ffffff;
  transform: scale(1.3);
}

.card-avatar:hover {
  transform: scale(1.1);
}
